<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon.ico">
  <title> <%= it.movie.title %> </title>
</head>
<body>
  <h1> <%= it.movie.title %></h1>
  <img alt="Banner do filme." src="<%= it.movie.url %>">
  <p> Data de lançamento: <%= it.movie.release %> </p>
  <p>Alguma informação esta errada?<br/> Altere-a aqui: </p>
  <button type="button"><a href="/new-movie/<%= it.slug %>">Editar</a></button>
  <button type="button"><a href="/delet-movie/<%= it.slug %>">Apagar</a></button><br/>
  <br/>
  <a href="/">Página Principal</a>
</body>
</html>