<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/view/static/reset.css">
  <link rel="stylesheet" href="/view/static/style.css">
  <title>Insira seu filme</title>
</head>
<body>
  <h1>Insira seus filmes: </h1>

  <form action="/newMovie" method="post">
    <input name="nameMovie" placeholder="Nome do filme!" required><br/>
    <br/>
    <input name="imageMovie" placeholder="Endereço de url do banner!"><br/>
    <br/>
    <input name="ageMovie" placeholder="Ano de lançamento"><br/>
    <br/>
    <input name="idMovie" id="idMovie" type="hidden" value="">
    <button name="addMovie" onclick="idCall()">Adicionar</button>
    <br/>
    <br/>
    <%= it %>
  </form>
  <a href="/">Página Principal</a>
</body>
<script src="./static/script.js"></script>
</html>