<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon.ico">
  <title>Cadastro de Usuário</title>
</head>
<body>
  <h1>Cadastro de Usuário</h1>
    <form action="/register-user" method="post">
      <input name="emailUser" type="email" placeholder="Insira seu email de cadastro" required>
      <br>
      <input name="passwordUser1" placeholder="Insira uma senha" required>
      <br>
      <br>
      <input name="passwordUser2" placeholder="Confirmar a senha" required>
      <br>
      <br>
      <label for="feedback"><%= it.feedback %></label>
      <br>
      <br>
      <button type="submit">Criar</button>
      </br>
      </br>
    </form>
  <a href="/">Página Principal</a>
</body>
</html>